<div class="app-wrapper">
    <Spectre.Docs.Playground.Components.Shared.SharedHeader CurrentSection="Playground" />
    <main class="main-content">
        <Spectre.Docs.Playground.Components.PlaygroundApp />
    </main>
</div>
